<td scope="row">
  <%= user.name %>
</td>
<td scope="row" >
  <%= user.admin? ? (link_to user.email, edit_user_registration_path(user)) : user.email %>
</td>
<td scope="row">
  <% if current_user.admin? && user != current_user%>
    <%= form_for(user, class:'form-inline') do |f| %>
      <%#= f.select(:role, User.roles.keys.collect { |role| [User.human_enum_name(:role, role), role] }, {}, class: "form-control") %>
      <%= f.select(:role, [[User.human_enum_name(:role, User.roles[0])[:suspended], :suspended], [User.human_enum_name(:role, User.roles[0])[:operator], :operator]] , {}, class: "form-control") %>
      <%= f.submit 'Alterar Acesso', :class => 'button-xs' unless user == current_user %>
    <% end %>
  <% else %>
    <%= User.human_enum_name(:role, user.role) %>
  <% end %>
</td>
<td scope="row">
  <%= link_to("Criar conta para atendente", new_user_path, {:remote => true, data:{toggle: "modal", target: '#modal-operator'} , class:"btn btn-primary"}) if user.admin? %>
  <%= link_to("Apagar usuário", user_path(user), :data => { :confirm => "Você tem certeza que deseja apagar o usuário #{user.name} ?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>