<div class="sectionform">
  <div class="row">
    <div class="col-12">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
        <h3 style="text-align:center">Esqueceu sua senha?</h3>
        <p>Enviaremos um email com instruções para alterar a sua senha!</p>
        <%= devise_anser_error_messages! %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        </div>
         <%= f.submit 'Alterar Senha', :class => 'button right' %>
      <% end %>
    </div>
  </div>
</div>
