<%= form_with(model: patient, local: true) do |form| %>
  <div class="container col-sm-12">
    <div class="row">
      <% if patient.errors.any? %>
        <div id="error_explanation">
          <!--      <h2><%#= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>-->
          <ul>
            <% patient.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :patient_since %>
          <%= form.text_field :patient_since, class:'form-control date-picker' %>
        </div>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :cpf %>
          <%= form.text_field :cpf, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :mobile %>
          <%= form.text_field :mobile, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :telephone %>
          <%= form.text_field :telephone, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :indication_by %>
          <%= form.text_area :indication_by, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :birth %>
          <%= form.text_field :birth, class: 'form-control date-picker' %>
        </div>

        <div class="form-group">
          <%= form.label :age %>
          <%= form.number_field :age, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :civil_status %>
          <%= form.text_field :civil_status, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :zip %>
          <%= form.text_field :zip, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :uf %>
          <%= form.text_field :uf, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :address %>
          <%= form.text_field :address, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :city %>
          <%= form.text_field :city, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :gender %>
          <%= form.text_field :gender, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :occupation %>
          <%= form.text_field :occupation, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :scholarity %>
          <%= form.number_field :scholarity, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :etnia %>
          <%= form.text_field :etnia, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :health_plan %>
          <%= form.text_field :health_plan, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :plan_validation %>
          <%= form.date_select :plan_validation, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :plan_number %>
          <%= form.text_field :plan_number, class: 'form-control' %>
        </div>

<!--        <div class="form-group">-->
          <%#= form.label :created_at %>
          <%#= form.datetime_select :created_at, class: 'form-control' %>
<!--        </div>-->

<!--        <div class="form-group">-->
          <%#= form.label :updated_at %>
          <%#= form.datetime_select :updated_at, class: 'form-control' %>
<!--        </div>-->
<!--      </div>-->
    </div>
      <div class="actions col-12">
        <%= form.submit ({class: 'btn btn-primary'}) %>
      </div>
    </div>
  </div>
<% end %>