<%= form_with(model: patient, remote: true) do |form| %>
  <div class="container col-sm-12">
    <% if patient.errors.any? %>
      <div id="error_explanation">
        <!--      <h2><%#= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>-->
        <ul>
          <% patient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-2">
        &nbsp;
      </div>
      <div class="col-sm-8">
        <div class="form-group">
          <%= form.label :alcoholism %>
          <%= form.text_field :alcoholism, class: 'form-control', title: "Frequência e quantidade?" %>
        </div>
        <div class="form-group">
          <%= form.label :smoking %>
          <%= form.text_field :smoking, class: 'form-control', title: 'Cigarros/Dia?' %>
        </div>
        <div class="form-group">
          <%= form.label :stop_smoking %>
          <%= form.text_field :stop_smoking, class: 'form-control', title: 'Explique' %>
        </div>
        <div class="form-group">
          <%= form.label :ilicit_drugs %>
          <%= form.text_field :ilicit_drugs, class: 'form-control', title: 'Quais?' %>
        </div>
        <div class="form-group">
          <%= form.label :physical_activity %>
          <%= form.text_field :physical_activity, class: 'form-control', title: 'Quais?' %>
        </div>
        <div class="form-group">
          <%= form.label :aerobic_activity %>
          <%= form.text_field :aerobic_activity, class: 'form-control', title: 'Frequencia?' %>
        </div>
        <div class="form-group">
          <%= form.label :other_activity %>
          <%= form.text_field :other_activity, class: 'form-control', title: 'Explique' %>
        </div>
      </div>
      <div class="col-sm-2">
        &nbsp;
      </div>
      <div class="actions col-12" style="width: 100%">
        <%= form.submit('Atualizar Histórico Social',{class: 'btn btn-primary'}) %>
      </div>
    </div>
  </div>
<% end %>