<p id="notice"><%= notice %></p>

<p>
  <strong>Patient since:</strong>
  <%= @patient.patient_since %>
</p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @patient.birth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @patient.cpf %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Etnia:</strong>
  <%= @patient.etnia %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @patient.civil_status %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @patient.occupation %>
</p>

<p>
  <strong>Scholarity:</strong>
  <%= @patient.scholarity %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @patient.zip %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @patient.uf %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @patient.telephone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @patient.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Indication by:</strong>
  <%= @patient.indication_by %>
</p>

<p>
  <strong>Health plan:</strong>
  <%= @patient.health_plan %>
</p>

<p>
  <strong>Plan validation:</strong>
  <%= @patient.plan_validation %>
</p>

<p>
  <strong>Plan number:</strong>
  <%= @patient.plan_number %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @patient.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @patient.updated_at %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
