<div class="sectionform">
  <div class="row">
    <div class="col-sm-12">
      <h3>Histórico: <%= @patient.protocol_and_name.camelcase %></h3>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#profile" style="font-size: 1.2em; text-align: left">Dados Pessoais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#consultations" style="font-size: 1.2em; text-align: left">Prontuário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#exams" style="font-size: 1.2em; text-align: left">Exames</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#diseases" style="font-size: 1.2em; text-align: left">Problemas do paciente</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane show active" id="profile">
          <%= render 'patients/form', patient: @patient %>
        </div>
        <div class="tab-pane" id="consultations">
          <%= render 'patients/consultations', patient: @patient %>
        </div>
        <div class="tab-pane" id="exams">
          <%= render 'patients/exams', patient: @patient %>
        </div>
        <div class="tab-pane" id="diseases">
          <%= render 'patients/diseases', patient: @patient %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-patient" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-100 w-75" role="document">
    <div class="modal-content"></div>
  </div>
</div>