<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="sectionform">
        <h3>Hist贸rico: <%= @patient.name.camelcase %></h3>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile" style="font-size: 1.2em; text-align: left">Dados Pessoais</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#current-history" style="font-size: 1.2em; text-align: left">Queixa Principal e Hist贸ria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#family-history" style="font-size: 1.2em; text-align: left">Hist贸rico Familiar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#social-history" style="font-size: 1.2em; text-align: left">Hist贸rico Social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#consultation" style="font-size: 1.2em; text-align: left">Consultas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#exams" style="font-size: 1.2em; text-align: left">Exames</a>
          </li>
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--            <div class="dropdown-menu">-->
<!--              <a class="dropdown-item" href="#">Action</a>-->
<!--              <a class="dropdown-item" href="#">Another action</a>-->
<!--              <a class="dropdown-item" href="#">Something else here</a>-->
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="#">Separated link</a>-->
<!--            </div>-->
<!--          </li>-->
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade show active" id="profile">
            <%= render 'patients/form', patient: @patient %>
          </div>
          <div class="tab-pane fade" id="current-history">
            <%= render 'patients/history', patient: @patient %>
          </div>
          <div class="tab-pane fade" id="family-history">
            <%= render 'patients/family_history', patient: @patient %>
          </div>
          <div class="tab-pane fade" id="social-history">
            <%= render 'patients/social_history', patient: @patient %>
          </div>
          <div class="tab-pane fade" id="consultation">
            <%#= render text: "Aqui entra index das consultas" %>
          </div>
          <div class="tab-pane fade" id="consultation">
            <%#= render text: "Aqui entra index de exames" %>
          </div>
<!--          <div class="tab-pane fade" id="dropdown1">-->
<!--            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>-->
<!--          </div>-->
<!--          <div class="tab-pane fade" id="dropdown2">-->
<!--            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>