<div class="row">
  <div class="col-sm-12">
    <div class="sectionform">
      <h3>Agenda</h3>
      <div class="form-group row">
        <div class="input-group date-picker col-sm-6" id="datepicker-date-appointments" data-target-input="nearest">
          <%= text_field_tag :appointements_date, @today.strftime('%d/%m/%Y'), class:'form-control datetimepicker-input', data:{target:'#datepicker-date-appointments'} %>
          <div class="input-group-append" data-target="#datepicker-date-appointments" data-toggle="datetimepicker">
            <div class="input-group-text"><%= icon('far', 'calendar-alt') %></div>
          </div>
        </div>
        <div class="col-sm-6">
          <%= link_to 'Marcar Novo Horário', new_appointment_path,  {:remote => true, data:{toggle: "modal", target: '#modal-window'}, class:"btn btn-primary"} %>
        </div>
      </div>
      <table class="responsive table table-hover" id="dttb-appointments" data-sort="true" data-source="<%= appointments_path(appointments_date: Time.now().strftime('%d/%m/%Y'), format: :json) %>">
        <thead>
        <tr>
          <!--<th data-data="empty_collumn"></th>-->
          <th data-data="appointment_date" style="max-width: 70px">Horário</th>
          <th data-data="name" style="min-width: 220px">Paciente</th>
          <th data-data="appointment_kind" style="max-width: 70px">Tipo</th>
          <th data-data="status" style="max-width: 70px ">Status</th>
          <th data-data="last_appointment" style="max-width: 70px">Última Consulta</th>
          <th data-data="health_insurance" style="max-width: 70px">Convênio</th>
          <th data-data="mobile" style="max-width: 90px">Telefone</th>
          <th data-data="url" data-orderable="false" data-searchable="false" class="skip-export">Ações</th>
        </tr>
        </thead>
      </table>
      <br>
      <%#= link_to 'Marcar Horário', new_appointment_path,  {:local => true, class:"btn btn-primary"} %>
      <%= link_to 'Marcar Novo Horário', new_appointment_path,  {:remote => true, data:{toggle: "modal", target: '#modal-window'}, class:"btn btn-primary"} %>
    </div>
  </div>
</div>
<%#= link_to 'TESTE MODAL', new_patient_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-appointment', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-100 w-75" role="document">
    <div class="modal-content"></div>
  </div>
</div>