<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appointment.user %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Appointment kind:</strong>
  <%= @appointment.appointment_kind %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @appointment.obs %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @appointment.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @appointment.updated_at %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
