<%= form_with(model: exam, remote: true, class:'form-exam') do |form| %>
  <div class="container col-sm-12">
    <% if exam.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% exam.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :patient_id %>
          <%= form.hidden_field :patient_id, value: exam.try(:patient).try(:id) %>
          <%= text_field_tag :patient_text, exam.try(:patient).try(:name), {disabled: true, class: 'form-control'} %>
        </div>
        <div class="form-group">
          <%= form.label :date_done %>
          <div class="input-group date-picker" id="datepicker-date-done" data-target-input="nearest">
            <%= form.text_field :date_done, disabled: disable_field, value:"#{exam.date_done.strftime('%d/%m/%Y %H:%M') unless exam.try(:date_done).blank?}", class:'form-control datetimepicker-input', data:{target:'#datepicker-date-done'} %>
            <div class="input-group-append" data-target="#datepicker-date-done" data-toggle="datetimepicker">
              <div class="input-group-text"><%= icon('far', 'calendar-alt') %></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control', disabled: disable_field %>
        </div>
        <div class="form-group">
          <%= form.label :conclusion %>
          <%= form.text_area :conclusion, class: 'form-control', rows: 8, disabled: disable_field %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :exam_files %>
          <%= form.file_field :exam_files, multiple: true, class: 'form-control', disabled: disable_field %>
        </div>
        <div class="form-group">
          <% if exam.exam_files.size > 0 %>
            <div id="accordion">
              <% exam.exam_files.each_with_index do |upload, idx| %>
                <div class="card">
                  <div class="card-header" id="heading-<%= idx %>">
                    <a class="" data-toggle="collapse" data-target="#collapse-<%= idx %>" aria-expanded="true" aria-controls="collapse-<%= idx %>">
                        <%= upload.filename %>
                    </a>
                    <% if !disable_field %>
                      <button type="button" class="close delete-exam-file" data-id="<%= upload.id %>" data-name="<%= upload.filename %>" autofocus="true" tabindex="1" aria-label="Apagar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <% end %>
                  </div>
                  <div id="collapse-<%= idx %>" class="collapse show" aria-labelledby="heading-<%= idx %>" data-parent="#accordion">
                    <div class="card-body" style="text-align: center">
                      <% if upload.variable? %>
                        <%= link_to image_tag(upload.variant(resize: "300x300"), class: 'd-block w-100'), upload, target: "_blank" %>
                        <small style="text-align: center">
                          <%= link_to 'download', rails_blob_path(upload, disposition: :attachment), target: "_blank" %>
                        </small>
                      <% elsif upload.previewable? %>
                        <%= link_to image_tag(upload.preview(resize: "300x300"), class: 'd-block w-100'), rails_blob_path(upload), target: "_blank" %>
                        <small style="text-align: center">
                          <%= link_to 'download', rails_blob_path(upload, disposition: :attachment), target: "_blank" %>
                        </small>
                      <% elsif upload.image? %>
                        <%= link_to image_tag(upload, width: 300, class: 'd-block w-100'), upload, target: "_blank" %>
                        <small style="text-align: center">
                          <%= link_to 'download', rails_blob_path(upload, disposition: :attachment), target: "_blank" %>
                        </small>
                      <% else %>
                        <%= link_to upload.filename, rails_blob_path(upload, disposition: :attachment), class: 'd-block w-100', target: "_blank" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <span>Nenhum arquivo encontrado.</span>
          <% end %>

        </div>
      </div>
      <div class="col-sm-4">
          <%= form.label :exam_table %><br />
          <%= form.hidden_field :exam_table, value: exam.try(:exam_table) %>
          <%= button_tag "Incluir valor", {id:'add-exam-row', class:"btn btn-primary", type:"button"} unless disable_field %><br clear="all"/>
          <table class="responsive nowrap table table-hover" id="dttb-exam-table" data-sort="false" data-data="<%=  exam.exam_table %>" <%= disable_field ? 'disabled' : '' %>></table>
      </div>
    </div>
  </div>

  <div class="actions col-12">
    <%= form.submit("Salvar", {class: 'btn btn-primary right'}) unless disable_field %>
  </div>
<% end %>